.composition {
	position: relative;
	&__photo {
		display: block;
		width: 55%;    // always width in % for responsiveness
		box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
		border-radius: 2px;
		position: absolute;
		z-index: 10;
		transition: z-index 0.2s, transform 0.2s, box-shadow 0.2s, outline 0.2s;
		outline-offset: 2rem;

		&--p1 {
			left: 0;
			top: -2rem;
		}

		&--p2 {
			right: 0;
			top: 2rem;
		}

		&--p3 {
			top: 10rem;
			left: 10rem;
		}

		&:hover {
			outline: 1.5rem solid $color-primary;
			transform: scale(1.05) translateY(5px);
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
			z-index: 20;
		}

	}

	&:hover &__photo:not(:hover) {
		transform: scale(0.95);
	}
}

// .composition:hover .composition__photo:not(:hover) {};